        /* Styl dla wszystkich akapitów */
p {
    color: green;
    font-size: 20pt;
}

/* Styl dla akapitu z ID MAMMOOOOOON */
#mammon {
    color: brown;
    font-size: 15pt;
    font-weight: bold;
}
/* Styl dla identyfikatora uniwersalnego */
#dlawszyskich_Kolendo {
    color: red;
    font-size: 8pt;
    font-family: Arial;
}
